.w-container {
    margin: 10px auto;
    width: 500px;
}

.w-container__header, .w-container__select {
    text-align: center;
}
.w-container__header {
    font-size: 22px;
    color: #333;
}

.w-container__select {
    margin-bottom: 20px;
}

.w-container__error {
    border: 1px solid;
    margin: 10px 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 20px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../assets/error.png');
    background-size: 15%;
}

.w-container__error__message {
    font-size: 22px;
    padding-left: 80px;
}