<div class="w-container">
    <h1 class="w-container__header">5 day weather forecast in {{city}}</h1>
    <div ng-show="!$ctrl.err" class="w-container__select">
        Order by:
        <select ng-model="sortColumn">
            <option value="+dt_txt">Date &#8595;</option>
            <option value="-dt_txt">Date &#8593;</option>
            <option value="+main.temp">Weather &#8595;</option>
            <option value="-main.temp">Weather &#8593;</option>
        </select>
    </div>
    <weather-per-day ng-if="!$ctrl.err" ng-repeat="item in weatherInPeriod | orderBy : sortColumn"
                     day="item"></weather-per-day>
    <div ng-if="$ctrl.err" class="w-container__error">
        <h1 class="w-container__error__message">{{errMessage}}</h1>
    </div>
</div>